/* navbar */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Mukta', sans-serif;
  font-family: 'PT Sans', sans-serif;
  background-color: #98DFD6;
  background-color: #EFE1D1;
}
.icon{
    color: #3F2E3E;
}
.icon-color{
    padding: 10px;
    background: #3F2E3E;
    margin-right: 2px;
    border-radius: 3px;
    color: aliceblue;
}
.navbar{
    /* padding: 0 100px; */
    position: sticky;
    top: 0;
    z-index: 999;
     background-color: #EFE1D1;
    ;
    /* margin-top: 100px; */
    /* padding-bottom: 0; */
}
.logo{
    max-height: 100px;
    min-width: inherit;
    /* margin-right: 0; */
    /* margin-bottom: auto; */

  }
  .footer-logo{
    max-height: 50px;
    min-width: inherit;

  }
  .naving > li{
  font-family: 'Mukta', sans-serif;
    margin-right:20px;
    padding-bottom: 18px;
    font-size: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 700;
  }
 
  .nav-link:hover{
   color: #3F2E3E;
}
  .search-inpt{
    width: 150px;
  }
  .search{
    margin-bottom: auto;
  }
  
  /* call-now-down */
  .call-now-down{
    background-color: #A78295;
    padding: 9px 0;
    position: fixed;
    bottom: 0;
    z-index: 1020;
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
  }
  .call-now-Down{
    text-decoration: none;
    color: white;
    font-size: 25px;

  }
  /* footer */
  .footer{
    background-image: url('./img/footer-bg.png');
    color: white;
  }
  
 /* header */
  .Home{
    /* margin-top: 200px; */
    background-image: url('./img/contact-bg.png');
    background:rgba(0,0,0,0.5) url('./img/contact-bg.png');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    color: #EFE1D1;

    /* height: 500px; */
  }
  .fridge{
    background-image: url('./img/Home-bg2.png');
    color: #EFE1D1;
  }
  .machine{
    background:rgba(0,0,0,0.5) url('./img/Home-bg3.png');
    /* color: black; */
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;


    
  }
  .home-head {
    margin-top: 80px;
  }
  .home-head > h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .home-head >h6,.home-head >p{
    font-size: 20px;
    line-height: 30px;
    padding-right: 15%;
  }
  .home-head > .btn{
    background-color: #3F2E3E;
    margin-bottom: 150px;
    color: white;
  }
  .head-call{
    /* margin-top: 80px; */
    font-size: 10px;
    color: black;
    margin-bottom: 50px;
  }
  .head-call-Now{
    box-shadow: 10px 10px 1px gray;
    background-color: #A78295;
    color: #EFE1D1;
  }
  .head-call-Now > a{
    font-size: 30px;
    padding: 55px 0px;
    text-decoration: none;
    
  }

  /* about */
  .about{
    padding: 30px;
  }
  /* .about-img{
   width: 200px;
  } */
  .about-image{
    width: 250px;
  }
  .rel{
   position: relative;
 
  }
  .customer{
    color: white;
    background: linear-gradient(90deg, #A78295 35%, #EFE1D1 100%);
    position: absolute;
    bottom: 50px;
    left: -25px;
    padding: 8px 24px;
    /* padding:15px 45px; */
    border-bottom-right-radius: 20px ;

  }
  
  
  .customer > h1{
    font-size: 20px;
   }
   .customer > h4{
   font-size: 16px;
   } 
  .tick-icon{
    color: #A78295;
   margin-bottom: 20px;

  }
  .about-info > h6{
    color: #A78295;
  }
  .about-info > h3,h5{
    color: #331D2C;
  }
  .about-info > *{
    margin-bottom: 25px;
  }

  /* services */

  /* /services-friege */
  .servicesh1{
   font-family: 'Mukta', sans-serif;
    color: #331D2C;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
  }
  .servicesh3{
    font-size: 40px;
    font-weight: 300;
    
  }
  .service-content > p{
   font-family: 'Mukta', sans-serif;
   font-size: 18px;
   font-weight: 300;
   color: gray;

  }
  .service-content > ol{
   font-family: 'Mukta', sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: #331D2C;

  }
  .service-content-call{
    text-decoration: none;
    text-align: center;
    color: #A78295;
  }
  .service-content-call:hover{
    color: #3F2E3E;
  }
  .fridge-ser-img{
    max-width: 100%;
  }
  /* machine-page */
  .machine-page > ol,.machine-page > p{
    color: gray;
    font-size: 17px;
   font-family: 'Mukta', sans-serif;
  font-weight: 300;
  }
  .machine-page > h1{
  color: #331D2C;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  }
  .machine-page > img {
        max-width: 100%;
  }
  .service-img{
    width: 100%;
  }
  .service-card > *{
    margin-bottom: 20px;
  }
  .service-card > h2{
    color: #331D2C;
    font-weight: 400;
    text-align: center;
    
  }
  .service-card > p,
    .service-card > ul{
    color: gray;
    font-weight: 400;
  }
  .butn{
   font-family: 'Mukta', sans-serif;
    padding:15px 45px;
    background-color: #331D2C;
    font-size: 20px;
    font-weight: 400;
    color: white;
  }
  /* contact */
  .contact{ 
    background: url('./img/contact-bg.png') no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    padding: 0 ;
    height: auto;

  }
  .contact-info{
    background-image: linear-gradient(90deg, rgba(255,81,47,0.6) 35%, rgba(240,152,25,.6) 100%);
    padding: 100px 60px;
    font-family: 'PT Sans', sans-serif;
    /* height: 100%; */
  
  }
  .contact-head > h2{
   color: #331D2C;
  }
  .states{
   color: #331D2C;
   font-size: 21px;
  }
  .butns > a{
    /* background: #ffffff none repeat scroll 0 0; */
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 14px 29px;
    margin: 15px;
    display:inline-block;
    margin-top: 20px;
    text-decoration: none;
  }
  .contact-btn{
    background-color: white;
    transition: 0.5s;
    color: #331D2C;
   
  }
  .contact-btn:hover{
    background: none;
    transition: 0.5s;
  }
  .talk-btn{
    background: none;
    transition: 0.5s;
    color: white;

  }
  .talk-btn:hover{
    background-color:white ;
    transition: 0.5s;
    color: #331D2C;


  }
  .whychoose>*{
   padding: 25px;
   margin-bottom: 20px;
  }
  .choose > h6{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;  
    line-height: 1.5em;
  }
  .choose > h3{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: normal;
    color: #331D2C;

  }
  .whychoose > h1{
    color: #331D2C;
    font-family: "Poppins", Sans-serif;
    font-size: 65px;
    font-weight: 700;
  }
  .choose-1{
    margin-bottom: 70px;
  }
  .servicecenter > *{
 text-align: center;
 margin-bottom: 30px;
  }
  .Sit-back{
    margin: 0 auto;
  }
  .servicecenter > h6{
  color: #3F2E3E;
  font-weight: 700;
  font-size: 16px;
  }
  .servicecenter > h4 {
    line-height: 1.2;
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #331D2C;

  }
  .center-info > h6{
    font-weight: 700;
    margin-bottom: 5px;
    color: #331D2C;
    line-height: 1.2;
    letter-spacing: 2px;
  }
  .center-info > p {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #666666;
  }


  /* frquently asked */
  .Drops {
    /* padding: 10px 110px; */
    color: #331D2C;
    /* text-align: left; */
    font-size: 18px;
    margin: 25px 0;
    font-weight: 700;
  }
  /* .dropDownlist{
    max-width: 100%;
  } */
  .Askedques > h1 {
    color: #331D2C;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
 
  }
  .Askedques > h2 {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #331D2C;
    margin-bottom: 35px;
  }
  /* contactusnew */
  .contactusnew{
    margin-top: 150px;
  }

  
  
  .contactusnew-info > h2{
    font-size: 36px;
    color: #331D2C;
    font-weight: 700;
    margin-top: -8px;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.1;
  }

  .iconsNew{
    font-size: 25px;
    padding: 5px;
    color: #A78295;
    margin-right: 5px;
  }
  /* .contactnew-right{
    padding:20px 120px;
  } */
  .contactnew-right > *{
    margin-bottom: 20px;

  }
  .contact-head > h5{
    font-weight: 900;
    font-size: 20px;
    margin-bottom:8px;
  }
  .contact-head > p{
    margin-top: 0;
  }
  .contact-head > p,.contactNew-form > *{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666666;
  }
  .contactNew-form > button{
     color: aliceblue;
     padding: 12px 35px;
     font-size: 19px;
     margin-bottom: 50px;
     /* margin: 0 auto; */
  }
  .contacting{
    color: #3F2E3E ;
    font-weight: 700;
    font-size: 16px;
  };


  /* footer */
 
  .footer{
    background-image: url('./img/footer-bg.png');
    background-image: url('./img/Home-bg.png');
    height: 400px;
  }
  @media only screen and (max-width: 600px) {
    .navbar{
        padding: 0;
    }
    .logo{
        max-height: 50px;
    }
    .search-inpt{
        width: 100%;
      }
     .Home{
       height: 100%;
      }
      .home-head > h1{
        font-size: 45px;
      }
      /* about */
  .rel{
   width: 100%;
  }
  
    /* .about-img{
      width: 100%;
    } */
    .head-call-Now{
      /* margin-top: -50px; */
      box-shadow: none;
      /* margin-bottom: 30px; */
    }
    
    /* frenqtly */
    
  .Askedques > h1 {
    font-size: 11px ;
  }
  /* .contactnew-right{
      padding: 0px;
      margin: 0 auto;
    } */
  .dropDownlist{
    max-width: 100%;
  }
  /* contect new */
  .iconsNew{
    font-size: 20px;
  }

  .contact-head > h5{
   font-size: 16px;
  }
  .footer{
    background-image: url('./img/footer-bg.png');
    color: white;
  }
  
  .footer-item > h6{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  .footer-item > p{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .footer-icon > i{
    margin-right: 35px;
  }
  .footer-input{
    background: none;
    color: white;
    padding: 5px 15px;
    margin: 25px 0;
  }
  .arrow-icon{
    color: #3F2E3E;
    /* border-radius: 1px solid white; */

  }
  .footer-bootom{
    margin: 35px 0;
  }
  .line{
    border-bottom: 1px solid gray;
  }
  .call-now-down{
    padding: 5px 0;

  }
  .call-now-Down{
   margin-left: -19px;
  }
  }

  @media only screen and (min-width: 1024px) {
    .Drops{
          padding: 10px 110px;
     }
  .Askedques > h1 {
   font-size: 60px;
  }
  .head-call{
    margin-top: 180px;
  }
  /* .about-image{
    max-width: 100%;
  } */
  .contactnew-right{
    padding:20px 120px;
  }

  .iconsNew{
    font-size: 40px;
  }
  .customer > h1{
   font-size: 28px;
  }
  .customer > h4{
  font-size: 22px;
  }
  .customer{
   padding: 15px 45px;
  }
  .about-image{
    width: 400px;
  }
  .footer{
    background-image: url('./img/footer-bg.png');
    color: white;
  }
  .footer-data{
    padding: 20px;
  }
  .line{
    border-bottom: 1px solid gray;
  }
  .footer-item > h6{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  .footer-item > p{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .footer-icon > i{
    margin-right: 35px;
  }
  .footer-input{
    background: none;
    color: white;
    padding: 5px 15px;
  }
  .arrow-icon{
    color: #3F2E3E;
  }
  .footer-bootom{
    margin: 35px 0;
  }
  .footer-text{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  }